html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom right, gainsboro, darkgrey);
}

table {
	position: absolute;
	width: 100%;
	height: 100%;

	table-layout: fixed;

	border-spacing: 15px;
}

td {
	vertical-align: top;
	padding: 0px;
}

iframe {
	width: 100%;
	height: 100%;
}

#chat {
	border: none;
}

.controller {
	width: 100%;
	height: 25px;
}

.url {
	width: calc(100% - 15px);
	height: 100%;

	padding: 0;
	padding-left: 15px;

	font-size: 15px;

	border: none;
	border-radius: 5px 0 0 0;

    float: left;
}

#first-controller > .url {
	width: calc(80% - 15px);
}

#edit {
	width: calc(19%);
	height: 100%;
	float: right;
}

#edit > button {
	width: calc(50% - 2px);
	height: 100%;

	background: white;

	font-size: 20px;
	color: grey;

	border: none;

	background: white;

	transition: background 0.25s;
	background: white;
}

#add {
	border-radius: 0 5px 0 0;
}

.edit:hover {
	transition: background 0.25s;
	background: #F0F0F0;
}

.url:focus, #edit > button:focus {
	outline: none;
}

.playback {
	height: calc(100% - 15px);
}